@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "Old Standard TT", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: #666;
  color: #eee;
}
a {
  color: #eee;
}
.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-content {
  max-width: 1080px;
  width: 70%;
}
.links {
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}
section:nth-child(n+1) {
  margin-top: 2rem;
}
